[Unit]
Description=A scrollable-tiling Wayland compositor
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Slice=session.slice
Type=notify
ExecStart=/usr/bin/niri --session
# alternatively when type is not notify
# wait 2 seconds for niri to setup
# ExecStartPost=/bin/sleep 2
