[Desktop Entry]
Name=ATLauncher (XWayland)
GenericName=ATLauncher (XWayland)
Comment=A launcher for Minecraft which integrates multiple different modpacks to allow you to download and install modpacks easily and quickly.
Exec=env GDK_BACKEND="" XDG_SESSION_TYPE=x11 atlauncher
Icon=atlauncher
Terminal=false
Type=Application
Categories=Game;
Keywords=game;Minecraft;
